/* стилізація index.html */
:root{
    --brand-color: #404BBF;
    --title-color: #2E2F42;
    --heading-color: #FFFFFF;
    --address-color: #434455;
    --button-color: #4D5AE5;
    --button-background: #F4F4FD;
}

.body{
    font-family: 'Roboto','Golos Text', sans-serif;
    color: var(--title-color);
}
ul {list-style: none;}
a {text-decoration: none;}
/* header */
.link-page{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.link-icon{
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.page {
    color: var(--title-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.page:hover{
   color: var(--brand-color);
}

.page:focus{
   color: var(--brand-color);
}

.address{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.address:hover{
    color: var(--brand-color);
}

.address:focus{
    color: var(--brand-color);
}
/* main */
/*section_1*/
.hero-section{
    color: var(--heading-color);
    background: var(--title-color);
    font-style: normal;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
}

.button{
    cursor: pointer;
    color: var(--heading-color);
    background: #4D5AE5;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.button:hover{
    background: var(--brand-color);

}
/* section_2 */
.title-list{
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
}

.list{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
/* section_3 */
.title-item{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}

.subject{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}
/* section_4 */
.subtitle {
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
}
/* footer */
.text-footer{
    background-color: var(--title-color);
    color: var(--heading-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}











/* стилізація portfolio.html */

.body-portfolio{
    font-family: 'Roboto','Golos Text', sans-serif;
    color: var(--title-color);
}

.link{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.link-logo{
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.page-portfolio{
    color: var(--title-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.page-portfolio:hover{
    color: var(--brand-color);
}

.page-portfolio:focus{
    color: var(--brand-color);
}    

.address-portfolio{
    color: var(--address-color);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.address-portfolio:hover{
    color: var(--brand-color);
}

.address-portfolio:focus{
    color: var(--brand-color);
}

.button-filtre{
    cursor: pointer;
    color: var(--button-color);
    background: var(--button-background);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

.button-filtre:hover{
    color: var(--heading-color);
    background-color: var(--brand-color);
}

.button-filtre:focus{
    color: var(--heading-color);
    background-color: var(--brand-color);
}

.title-filtre{
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
}

.text-filtre{
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.link-footer{
    font-family: 'Raleway', sans-serif;
    color: var(--title-color);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.link-web{
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
}

.text-footer-portfolio{
    background-color: var(--title-color);
    color: var(--heading-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}